<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(${ #strings.prepend(tenant.sub, 'Test Page - ')})"/>

<body>
  <nav th:replace="layout :: navbar('Test Page')"></nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>

  <div th:if="${widget == '' || widget == 'oidc'}">
    <nav class="navbar navbar-light bg-light sticky-top">
      <form class="form-inline">
          <button id="logout" href="#" class="btn btn-danger btn-sm after-login" style="display: none;">Logout</button>
          <button id="login" href="#" class="btn btn-success btn-sm before-login" style="display: none;">Login</button>
      </form>
      <span class="navbar-brand h1 mx-auto"><img src="logo/phantauth-test.svg"></img>OpenID Connect Test</span>
    </nav>

    <div class="container before-login mt-3" style="display: none;">
      <p>OpenID Connect authentication test page for <strong th:utext="${tenant.name}"></strong> (<span th:utext="${tenant.sub}"></span>) tenant.
        This tenant allows you to see how the OpenID Connect authentication works. After successful authentication, you’ll see a user profile page, where the claims from the IDToken appear. The number of returned claims depends on the random generator used by the tenant.
      </p>
    </div>

    <!--email_off-->
    <div th:replace="~{ :: user }">
    </div>
    <!--/email_off-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.6.1/oidc-client.min.js"></script>
    <script type="text/javascript" th:attr="data-issuer=${tenant.issuer}" id="test-script">
  $(function () {
      var issuer = document.getElementById("test-script").getAttribute("data-issuer");
      var page = issuer + "/test";

      function beforeLogin() {
        $('.after-login').hide()
        $('.before-login').show()
      }

      function afterLogin() {
        $('.before-login').hide()
        $('.after-login').show()
      }

      function newClient() {
          return new Oidc.OidcClient({
              authority: issuer,
              client_id: 'phantauth+phantauth.test@gmail.com',
              redirect_uri: window.location.href,
              response_type: 'id_token token',
              scope: 'openid profile email phone address uid',
              filterProtocolClaims: false,
              loadUserInfo: false
          });
      }

      function login() {
          $('.after-login').hide()
          newClient().createSigninRequest({ state: { bar: Math.random() } }).then(function (req) {
              window.location = req.url;
          }).catch(function (err) {
              console.log(err);
          });
      }

      function process() {
          newClient().processSigninResponse().then(function (response) {
              localStorage.setItem(page, JSON.stringify(response.profile));
              history.pushState("", document.title, page);
              update()
          }).catch(function (err) {
              console.log(err);
          });
      }

      function isLoggedIn() {
          return localStorage.getItem(page)
      }

      function getProfile() {
          return JSON.parse(localStorage.getItem(page));
      }

      function update() {
          var bindings = {}
          bindings['user'] = getProfile();
          rivets.bind($('#user'), bindings);
          afterLogin();
      }

      function logout() {
          localStorage.removeItem(page);
          beforeLogin();
          return false;
      }

      $("#login").click(login);
      $("#logout").click(logout);

      if (isLoggedIn()) {
          update();
      } else if (window.location.hash != '') {
          process();
      } else {
        beforeLogin();
      }
  });

    </script>
  </div>

  <div th:if="${widget == 'user'}">
    <nav class="navbar navbar-light bg-light sticky-top">
      <form class="form-inline generate-form">
          <input id="name" class="form-control col-7" placeholder="Login name or blank" th:attr="type=${  #strings.isEmpty(tenant.script) ? 'text' : 'hidden' }"></input>
          <button id="generate" href="#" class="btn btn-success btn-sm ml-2" >Generate</button>
      </form>
      <span class="navbar-brand h1 mx-auto mt-2"><img src="logo/phantauth-test.svg"></img>Random User Test</span>
    </nav>

    <div class="container before-login mt-3" style="display: none;">
      <p>User Generator test page for <strong th:utext="${tenant.name}"></strong> (<span th:utext="${tenant.sub}"></span>) tenant.
        The generate button allows you to generate a new random user. Use the Login name or blank field to specify the login name of the user to be generated. If the login name is provided, the user will be generated on the basis of the given login name. Otherwise, you can generate a new user every time you click on generate.
      </p>
    </div>

    <script th:replace="phantauth :: javascript"></script>
    <script th:if="${tenant.script}" th:attr="src=${tenant.script}"></script>
    <script type="text/javascript" th:attr="data-issuer=${tenant.issuer}" id="test-user-script">
  $(function () {
      function beforeGenerate() {
        $('.after-login').hide()
        $('.before-login').show()
      }

      function afterGenerate() {
        $('.before-login').hide()
        $('.after-login').show()
      }

    function update() {
        $('#user img').attr("src", "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
        PhantAuth.get("user", $("#name").val(), function (user) {
        var bindings = {user: user}
        rivets.bind($('#user'), bindings);
        afterGenerate();
        });
    }

      function generate(event) {
        event.preventDefault();
        update();
        return false;
      }

      $("#generate").click(generate);
      $("form.generate-form").submit(generate);
      beforeGenerate();

  });
    </script>

    <!--email_off-->
    <div th:replace="~{ :: user }">
    </div>
    <!--/email_off-->

  </div>

<div th:if="${widget == 'client'}">
    <nav class="navbar navbar-light bg-light sticky-top">
      <form class="form-inline generate-form">
          <input id="name" class="form-control col-7" placeholder="Client name or blank" type="text"></input>
          <button id="generate" href="#" class="btn btn-success btn-sm ml-2" >Generate</button>
      </form>
      <span class="navbar-brand h1 mx-auto mt-2"><img src="logo/phantauth-test.svg"></img>Random Client Test</span>
    </nav>

    <div class="container before-login mt-3" style="display: none;">
      <p>Client Generator test page for <strong th:utext="${tenant.name}"></strong> (<span th:utext="${tenant.sub}"></span>) tenant.
        You can try client generator for this tenant. 
      </p>
    </div>

    <script th:replace="phantauth :: javascript"></script>
    <script type="text/javascript" th:attr="data-issuer=${tenant.issuer}" id="test-client-script">
  $(function () {
      function beforeGenerate() {
        $('.after-login').hide()
        $('.before-login').show()
      }

      function afterGenerate() {
        $('.before-login').hide()
        $('.after-login').show()
      }

    function update() {
        $('#client img').attr("src", "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
        PhantAuth.get("client", $("#name").val(), function (client) {
        var bindings = {client: client}
        rivets.bind($('#client'), bindings);
        afterGenerate();
        });
    }

      function generate(event) {
        event.preventDefault();
        update();
        return false;
      }

      $("#generate").click(generate);
      $("form.generate-form").submit(generate);
      beforeGenerate();

  });
    </script>

    <!--email_off-->
    <div th:replace="~{ :: client }">
    </div>
    <!--/email_off-->

  </div>


  <div th:if="false">
    <div th:fragment="user" id="user" class="container profile after-login" style="display: none;">
      <div class="row">
        <div class="col text-center mt-3">
          <img rv-src="user.picture" class="img-lg rounded-circle border shadow"/>
          <h2 rv-text="user.name" class="mt-3"></h2>
          <span id="tenant" class="small text-muted"></span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
                aria-selected="false">Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links"
                aria-selected="false">Links</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <table class="table table-hover table-sm table-properties">
                <tr rv-show="user.sub">
                  <th>sub</th>
                  <!--email_off-->
                  <td id="sub" rv-text="user.sub" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20rem;"></td>
                  <!--/email_off-->
                </tr>
                <tr rv-show="user.password">
                  <th>password</th>
                  <td rv-text="user.password"></td>
                </tr>
                <tr rv-show="user.uid">
                  <th>uid</th>
                  <td id="uid" rv-text="user.uid"></td>
                </tr>
                <tr rv-show="user.nickname">
                  <th>nickname</th>
                  <td rv-text="user.nickname"></td>
                </tr>
                <tr rv-show="user.preferred_username">
                  <th>preferred username</th>
                  <td rv-text="user.preferred_username"></td>
                </tr>
                <tr rv-show="user.gender">
                  <th>gender</th>
                  <td rv-text="user.gender"></td>
                </tr>
                <tr rv-show="user.birthdate">
                  <th>birthdate</th>
                  <td rv-text="user.birthdate"></td>
                </tr>
                <tr rv-show="user.locale">
                  <th>locale</th>
                  <td rv-text="user.locale"></td>
                </tr>
                <tr rv-show="user.zoneinfo">
                  <th>zoneinfo</th>
                  <td rv-text="user.zoneinfo"></td>
                </tr>
                <tr rv-show="user.given_name">
                  <th>given name</th>
                  <td rv-text="user.given_name"></td>
                </tr>
                <tr rv-show="user.middle_name">
                  <th>middle name</th>
                  <td rv-text="user.middle_name"></td>
                </tr>
                <tr rv-show="user.family_name">
                  <th>family name</th>
                  <td rv-text="user.family_name"></td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <table class="table table-hover table-sm table-properties">
                <tr rv-show="user.email">
                  <th>email</th>
                  <!--email_off-->
                  <td rv-text="user.email"></td>
                  <!--/email_off-->
                </tr>
                <tr rv-show="user.email_verified">
                  <th>email verified</th>
                  <td rv-text="user.email_verified"></td>
                </tr>
                <tr rv-show="user.phone_number">
                  <th>phone number</th>
                  <td rv-text="user.phone_number"></td>
                </tr>
                <tr rv-show="user.phone_number_verified">
                  <th>phone number verified</th>
                  <td rv-text="user.phone_number_verified"></td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
              <table class="table table-hover table-sm table-properties">
                <tr rv-show="user.address.country">
                  <th>country</th>
                  <td rv-text="user.address.country"></td>
                </tr>
                <tr rv-show="user.address.postal_code">
                  <th>postal code</th>
                  <td rv-text="user.address.postal_code"></td>
                </tr>
                <tr rv-show="user.address.locality">
                  <th>locality</th>
                  <td rv-text="user.address.locality"></td>
                </tr>
                <tr rv-show="user.address.region">
                  <th>region</th>
                  <td rv-text="user.address.region"></td>
                </tr>
                <tr rv-show="user.address.street_address">
                  <th>street address</th>
                  <td rv-text="user.address.street_address"></td>
                </tr>
                <tr rv-show="user.address.formatted">
                  <th>formatted</th>
                  <td rv-text="user.address.formatted"></td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
              <table class="table table-hover table-sm table-properties">
                <tr rv-show="user.@id">
                  <th>@id</th>
                  <td><a rv-text="user.@id" rv-href="user.@id"></a></td>
                </tr>
                <tr rv-show="user.me">
                  <th>me</th>
                  <td><a rv-text="user.me" rv-href="user.me"></a></td>
                </tr>
                <tr rv-show="user.website">
                  <th>website</th>
                  <td><a rv-text="user.website" rv-href="user.website"></a></td>
                </tr>
                <tr rv-show="user.profile">
                  <th>profile</th>
                  <td><a rv-text="user.profile" rv-href="user.profile"></a></td>
                </tr>
                <tr rv-show="user.webmail">
                  <th>webmail</th>
                  <td><a rv-text="user.webmail" rv-href="user.webmail"></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:fragment="client" id="client" class="container profile after-login" style="display: none;">
      <div class="row">
        <div class="col text-center mt-3">
          <img rv-src="client.logo_uri" class="img-lg border rounded shadow" />
          <h2 rv-text="client.client_name" class="mt-3"></h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links"
                aria-selected="false">Links</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <table class="table table-hover table-sm table-properties">
                <tr>
                  <th>client id</th>
                  <td rv-text="client.client_id"></td>
                </tr>
                <tr rv-show="client.client_secret">
                  <th>client secret</th>
                  <td rv-text="client.client_secret"></td>
                </tr>
                <tr rv-show="client.software_version">
                  <th>software version</th>
                  <td rv-text="client.software_version"></td>
                </tr>
                <tr rv-show="client.software_id">
                  <th>software id</th>
                  <td rv-text="client.software_id"></td>
                </tr>
                <tr rv-show="client.logo_email">
                  <th>logo email</th>
                  <td rv-text="client.logo_email"></td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
              <table class="table table-hover table-sm table-properties">
                <tr rv-show="client.@id">
                  <th>@id</th>
                  <td><a rv-text="client.@id" rv-href="client.@id"></a></td>
                </tr>
                <tr rv-show="client.client_uri">
                  <th>client uri</th>
                  <td><a rv-text="client.client_uri" rv-href="client.client_uri"></a></td>
                </tr>
                <tr rv-show="client.policy_uri">
                  <th>policy uri</th>
                  <td><a rv-text="client.policy_uri" rv-href="client.policy_uri"></a></td>
                </tr>
                <tr rv-show="client.tos_uri">
                  <th>tos uri</th>
                  <td><a rv-text="client.tos_uri" rv-href="client.tos_uri"></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
