<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(${tenant.sub})"/>

<body>
  <script type="text/javascript">
     if ( ! document.querySelector("base") ) {
         document.location.replace("https://phantauth.me/!" + document.location.hostname);
     }
  </script>
  <nav th:replace="layout :: navbar('')"></nav>

  <!--email_off-->
  <div class="container mt-3">
    <h3>Issuer</h3>
    <p>This is the issuer endpoint for <strong><span th:replace="settings :: name"></span></strong> (<span th:utext="${tenant.sub}"></span>) tenant.
    You can get OpenID Connect endpoint addresses and client credentials here.
    </p>
    <h4>OpenID Connect Endpoints</h4>
    <p>The table bellow contains standard OpenID Connect Endpoint addresses. You don't need to 
      enter these endpoint addresses manually, if your provider/library supports OpenID Connect Discovery.
      In this case you should give ony the issuer location, or discovery location (depens on implementation).
    </p>
    <table class="table table-striped table-sm table-borderless">
      <tr><th>Endpoint</th><th>Location</th></tr>
      <tr><td>Issuer</td><td><span th:utext="${meta.issuer}"></span></tr>
      <tr><td>Discovery</td><td><a th:attr="href=${#strings.append(meta.issuer,'/.well-known/openid-configuration')}" th:utext="${#strings.append(meta.issuer,'/.well-known/openid-configuration')}"></a></tr>
      <tr><td>Authorization</td><td><span th:utext="${meta.authorizationEndpointURI}"></span></tr>
      <tr><td>Token</td><td><span th:utext="${meta.tokenEndpointURI}"></span></tr>
      <tr><td>User Info</td><td><span th:utext="${meta.userInfoEndpointURI}"></span></tr>
      <tr><td>Introspection</td><td><span th:utext="${meta.introspectionEndpointURI}"></span></tr>
      <tr><td>Key Set</td><td><span th:utext="${meta.JWKSetURI}"></span></tr>
      <tr><td>Registration</td><td><span th:utext="${meta.registrationEndpointURI}"></span></tr>
    </table>

    <h4>Client registration</h4>
    <p>You do not need to register your client software, just pick a <em>client_id</em> and use it. Some OpenID Connect workflow require <em>client_secret</em>.
      Just type your <em>client_id</em> in the input box bellow and press <em>generate</em>. You will see your <em>client_secret</em> next to the <em>client_id</em>.
      The generated logo and software name will displayed too. Leaving empty the <em>client_id</em> field, you can generate random <em>client_id</em> and
      <em>client_secret</em>.
      <br/>Check <a href="https://developer.phantauth.me">PhantAuth Developer Portal for more information.</a>
    </p>
    <form id="generator">
      <div class="form-row">
        <div class="col">
          <input id="client_id" type="text" class="form-control" placeholder="Client ID">
       </div>
       <div class="col">
          <input id="client_secret" type="text" class="form-control" readonly>
       </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <button class="btn btn-outline-primary" id="generate" type="submit" title="Generate client_id">generate</button>
        </div>
        <div class="col text-right text-muted">
          <span id="client_name" class="h5"></span>&nbsp;<img id="logo" class="img-sm border"/>
        </div>
      </div>
    </form>
  </div>
  <!--/email_off-->
    <script type="text/javascript">
$(function () {

    function update() {
        PhantAuth.get("client", $("#client_id").val(), function (client) {
            $("#client_id").val(client.client_id);
            $("#client_secret").val(client.client_secret);
            $("#client_name").text(client.client_name);
            $("#logo").attr('src', client.logo_uri);
        });
    }

    $("#generator").submit(function (event) {
        event.preventDefault()
        update();
    });

});
    </script>
    <form th:replace="phantauth :: javascript"></form>
</body>

</html>
