<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head('Login')"/>
<body th:attr="data-issuer=${tenant.issuer}">
    <nav th:replace="layout :: navbar('')"></nav>
    <div class="container">
        <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
            <h1 class="text-center">Login</h1>
            <form class="login-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control login-history" id="name" aria-describedby="nameHelp" placeholder="Login name" list="history"
                        th:attr="value=${request.loginHint}">
                    <datalist id="history" class="login-history"></datalist>
                    <small id="nameHelp" class="form-text text-muted">Login name or full name or email address (blank
                        for random)
                    </small>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-success" id="login" type="submit" title="Continue with selected account">
                            login
                        </button>&nbsp;
                        <button class="btn btn-outline-danger" id="cancel" type="reset" title="Cancel login process"> cancel</button>&nbsp;
                    </div>
                </div>
                <input id="username" name="username" type="hidden" th:attr="value=${user.sub}" />
            </form>
            <hr />
            <p id="user" class="text-right text-muted" style="display: none;"><img id="picture" th:attr="src=${user.picture}"
                    class="img-sm rounded-circle border" />
                <span id="fullname" th:utext="${user.name}"></span>
            </p>
        </div>
    </div>

    <script type="text/javascript">
$(function () {
    function buildName() {
        return $("#name").val() || $("#username").val()
    }

    function update() {
        PhantAuth.get("user", buildName(), function (user) {
            $("#username").val(user.sub);
            $("#fullname").text(user.name);
            $("#picture").attr('src', user.picture);
            $("#user").show()
        });
    }

    $('#login').click(function() {
        $("#username").val(buildName());
    });

    $("#name").change(function (event) {
        update();
    });

    update()

    var wto;
    $('#name').bind('keydown', function () {
        clearTimeout(wto);
        wto = setTimeout(function () {
            update();
        }, 1000);
    });
});
    </script>
    <form th:replace="phantauth :: login"></form>
</body>
</html>
